head{
  background-image: url("https://asset.cloudinary.com/djdcuhyb6/1edf44731e49950d97268582c222f330");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  background-color:#000080 ;
  color: white;
}
