body {
  background-image: url("https://res.cloudinary.com/djdcuhyb6/image/upload/v1698391367/bike-page%20images/ducati-v4.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  background-color:#000080 ;
  color: white;
}
